
---
import { blog } from "src/lib/markdoc/frontmatter.schema";
import { readAll } from "src/lib/markdoc/read";


const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---


<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Telecomunicaciones
      </span>
    </h1>
  </div>

  <ul>
    {
      sortedPosts.map((post) => {
        const formattedDate = new Date(
          post.frontmatter.date
        ).toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        });
        return (
          <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
            <div class="title">
              {post.frontmatter.external ? (
                <a
                  href={post.frontmatter.url}
                  target="_blank"
                  class="unset hover:text-text-link"
                >
                  <span>{post.frontmatter.title}</span>
                  <span>
                    <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square pt-1" />
                  </span>
                </a>
              ) : (
                <a
                  href={`/blog/${post.slug}`}
                  class="unset hover:text-text-link"
                >
                  {post.frontmatter.title}
                </a>
              )}
            </div>
            <div class="text-text-muted text-sm italic">
              <time datetime={post.frontmatter.date.toISOString()}>
                {formattedDate}
              </time>
            </div>
          </li>
        );
      })
    }
  </ul>
  
</section>
